<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

<ul>
    <li>List of Popular Languages in Data Science</li>
    <li>List of Commonly used Libraries in Data Science</li>
    <li>Table containing list of Data Science Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Scikit-Learn</li>
    <li>TenserFlow</li>
    <li>Matplotlib</li>
</ol>

| Data Science Tools |
----------------------
| Jupyter |
| Apache Spark |
| R Studio |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author </h2>
Pratik Kumar